.form-container {
  position: relative; /* Set position to relative */
  z-index: 1;
  margin-top: 40px; /* Adjust this value as needed */
}

/* Match style with ISO 9001 Hospitality audit button */
button[type="submit"] {
  background-color: #007bff; /* Change color to match ISO 9001 button */
  color: white; /* Text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Add border radius */
  cursor: pointer; /* Add cursor pointer */
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Change hover color */
}